---
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
import Analytics from "@vercel/analytics/astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Pacifico:wght@400&family=Poppins:wght@400;700&display=swap"
      as="style"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Pacifico:wght@400&family=Poppins:wght@400;700&display=swap"
      crossorigin
    />

    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <slot />
    <Analytics />
    <style is:global>
      html {
        font-family: "Poppins", system-ui, sans-serif;
        background: #0f172a;
        scroll-behavior: smooth;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      .rotate-y-180 {
        transform: rotateY(180deg);
      }
    </style>
  </body>
</html>
